Intermediate/
Saved/
DerivedDataCache/

.vs/
*.sln
.vsconfig

Binaries/Win64/*
!Binaries/Win64/UnrealEditor-ScaleAscend.dll
!Binaries/Win64/UnrealEditor.modules
!Binaries/Win64/ScaleAscendEditor.target

Plugins/GameFeatures/*/Binaries/Win64/*
!Plugins/GameFeatures/*/Binaries/Win64/UnrealEditor-ScaleAscendCheatRuntime.dll
!Plugins/GameFeatures/*/Binaries/Win64/UnrealEditor.modules

Content/*
!Content/ScaleAscend/

